.searchBtn {
color: white;
background-color: rgb(108, 167, 250);
border: none;
padding: 10px;
border-radius: 5px;
letter-spacing: 0.1em;
text-align: center;
}

.searchBtn:hover {
background-color: rgb(11, 112, 255);

}

.searchInput {
    padding: 8px;
    border-radius: 5px;
}

.form {
    display: flex;
    gap: 10px
}